<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Listes Prédéfinies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<!--          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"-->


    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../staticcss/spring-core.css" rel="stylesheet" media="screen"/>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div  th:insert="~{fragments/headerfrag :: header}"> </div>
<body>

<div class="container">
    <h2 class="text-center">Listes Prédéfinies</h2>
    <div th:if="${not #lists.isEmpty(Listes)}">

        <table class="table table-striped">

            <tr th:each="Liste : ${Listes}">
                <td th:text="${Liste.id}"></td>
                <td th:text="${Liste.nom}"></td>

                <td> <a th:href="${'/Course/edit/' + Liste.id}" class="badge" title="Editer la liste"><i class="material-icons">create</i></a></td>
                <td> <a th:href="${'/Course/panier/' + Liste.id}" class="badge" title="Commencer ses courses"><i class="material-icons">shopping_cart</i></a></td>
                <td> <a th:href="${'/Course/delete/' + Liste.id}" class="badge text-danger" title="Supprimer"><i class="material-icons">delete</i></a></td>

            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/Course/new">New Product</a>
        </div>
    </div>
</div>

</body>
</html>